<div style="{{bgColor}}">
	<p>Hey {{lower-case name}}. You have {{daysLeft}} days left. What do you wanna do?</p>
</div>

<menu>
{{#if daysLeft}}
	<p>Nothing, really.</p>
	<button {{action 'endTurn'}}>Sleep</button>
{{else}}
	<p>Aww, you're out of time.</p>
	<button {{action 'newGame'}}>Try again?</button>
{{/if}}
</menu>

{{#if isLastDay}}
	<p>Giddy up!</p>
{{/if}}

{{yield}}

<hr>

<h3>debug</h3>

<ul>
	<li>total days: {{totalDays}}</li>
	<li>day: {{day}}</li>
	<li>days left: {{daysLeft}}</li>
	<li>percentage complete: {{percentageComplete}}%</li>
	<li>actions made: {{session.actionsMade}}</li>
	<li>days played: {{session.daysPlayed}}</li>
</ul>
